.tarea_cubiculos{
    border: 2px ridge rgb(22, 127, 153);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.rojo {
    background-color: rgb(255, 72, 0);
    width: 102px;
    height: 102px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul {
    background-color: rgb(17, 0, 255);
    width: 102px;
    height: 102px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verde {
    background-color: chartreuse;
    width: 102px;
    height: 102px;
    font-size: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
