{{!-- <h1>{{title}}</h1>
{{#if known}}
    <p>Hola {{name}} <a href="/salir">Salir</a></p>
{{/if}}

{{#unless known}}
    <p>No te conozco</p>
    <form action="/ingresar" method="post">
        <input type="text" name="name"><button>Ingresar</button>
    </form>
{{/unless}} --}}
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
