<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/app.css' />
</head>

<body>
    <section className="holder">
        <h2>Announcements</h2>
        <h3>Project Name</h3>
        <h4>Participating Members</h4>
        <p>Planned Content</p>
    </section>
    {{{body}}}
    <footer>
        <div>
            <h2>SCM steam comment section policy.</h2>
            <p>We have disabled comments in most of our team projects due to toxicity from the community. For any
                feedback, questions or if you would like to talk to our members, please head over to "Da Modding Den"
                channel in discord, link below.
            </p>
            <a href="https://discord.com/channels/373745291289034763/1008765251208089660">Da Modding Den</a>
        </div>
        <p>A Course Project by Kou</p>
    </footer>
</body>

</html>